<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modify-R</title>
  <script src="lib/uuidv4.min.js"></script>
  <script src="lib/lodash.min.js"></script>
  <script src="lib/vue/vue.js"></script>
  <!-- <script src="lib/vue/vue.min.js"></script> -->
  <link rel="stylesheet" href="lib/element-ui/index.css">
  <script src="lib/element-ui/index.js"></script>
  <link rel="stylesheet" href="css/options.css">
</head>
<body>
  <div id="app">
    <el-button type="primary" size="mini" @click="addTarget">add</el-button>
    <el-button type="primary" size="mini" @click="clear">clear</el-button>
    <el-button type="primary" size="mini" @click="addGroup">添加组</el-button>
    <el-table
      border
      :data="collection"
      :span-method="objectSpanMethod"
      :row-style="rowStyleFn"
      @cell-dblclick="editFn"
      style="width: 100%">

    <el-table-column label="Group" prop="name" align="center" width="320" >
      <template slot-scope="scope">
        <template v-if="!scope.row.groupEditable">
          <div style="margin-bottom: 10px;">{{ scope.row.name }}</div>
          <div>
            <!-- <el-switch v-model="scope.row.enabled" active-color="#13ce66" inactive-color="#ff4949" @change="change(scope.row)"></el-switch> -->
            <el-button
              size="mini"
              @click.stop
            >禁用</el-button>
            <el-button
              size="mini"
              @click.stop="addAction(scope.row)"
            >添加</el-button>
            <el-button
              size="mini"
              type="danger"
              @click.stop="delGroup(scope.row)"
            >删除</el-button>
          </div>
        </template>
        <el-input v-else :ref="'groupRef-' + scope.row.id" v-model="scope.row.name" @blur="blur(scope.row)" @keyup.enter.native="inputEnter(scope.row)"></el-input>
      </template>
    </el-table-column>
      
      <el-table-column prop="request" label="Request" align="center">
        <template slot-scope="scope">
          <template v-if="!scope.row.requestEditable">{{ scope.row.request }}</template>
          <el-input v-else :ref="'requestRef-' + scope.row.id" v-model="scope.row.request" @blur="blur(scope.row)" @keyup.enter.native="inputEnter(scope.row)"></el-input>
        </template>
      </el-table-column>
      
      <el-table-column
        prop="response"
        label="Response" align="center">
        <template slot-scope="scope">
          <template v-if="!scope.row.responseEditable">{{ scope.row.response }}</template>
          <el-input v-else :ref="'responseRef-' + scope.row.id" v-model="scope.row.response" @blur="blur(scope.row)" @keyup.enter.native="inputEnter(scope.row)"></el-input>
        </template>
      </el-table-column>

      <el-table-column label="资源类型" width="240" align="center">
        <template slot-scope="scope">
          <el-radio-group v-model="scope.row.actionType" size="mini" @change="change(scope.row)" disabled>
            <el-radio-button label="XHR"></el-radio-button>
            <el-radio-button label="CSS"></el-radio-button>
            <el-radio-button label="JS"></el-radio-button>
          </el-radio-group>
        </template>
      </el-table-column>

      <el-table-column label="操作（对URI的操作）" width="220" align="center">
        <template slot-scope="scope">
          <el-switch v-model="scope.row.enabled" active-color="#13ce66" inactive-color="#ff4949" @change="change(scope.row)"></el-switch>
          <el-button
            size="mini"
            type="danger"
            @click="delAction(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>

      <!-- <div slot="append">
        <el-button
          size="mini"
        >添加</el-button>
      </div> -->
    </el-table>

  </div>
  <script type="module" src="js/options.js"></script>
</body>
</html>